<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>海龟交易法则</title>

    <!-- Bootstrap -->
    <link href="plugins/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">

    <link href="css/base.css" rel="stylesheet">
</head>
<body>
<div class="container">

</div>

<div class="page-copyright text-center">
    Copyright &copy; 2019 <strong>测试</strong>
</div>

<script src="plugins/jquery-2.2.4.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="script/base.js"></script>
<script src="script/my-utils.js"></script>
<script>
    $(function () {



    });
</script>
</body>
</html>